# Godot 3-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores (Jika pakai Godot versi C#)
.mono/
data_*/
mono_crash.*.json

# Build / Export outputs (Abaikan file aplikasi jadi)
*.exe
*.apk
*.html
*.js
*.wasm
*.zip

# System files
.DS_Store
Thumbs.db
